django>=2.2.10
Pillow==6.2.1
pytz==2018.9

# tools
django-extensions==2.2.8   # 2.1.4

# Environment
django-environ==0.4.5

# Django REST framework
djangorestframework==3.11.0

# JWT
pyjwt==1.7.1

# Este es conector con postgress
# psycopg2==2.7.4 --no-binary psycopg2